body {
    font-family: Arial, sans-serif;
    margin-top: 10%;
}

/* タイマー */
.container {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    gap: 10px;
    width: 1000px;
    margin: 0 auto;
}

.big-box {
    grid-row: span 5;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.content-box a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #000;
}


.junp-timer{
    width:80%;
}

/*ボタン*/
.settings-timer {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px; 

}

.settings-timer:hover {
    background-color: #0056b3;
}

/* 右のちっこい枠達 */
.small-box {
    border: 1px solid #000;
    padding: 10px;
    height: 100px; /* 固定高さを設定 */
    overflow: auto; /* 必要に応じてコンテンツが溢れた場合にスクロールを追加 */
}

.small-box a {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #000;
}

/* リスト・タスク */
.small-box:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1;
}

/* 使い方 */
.small-box:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1;
}

/* 割り込み */
.small-box:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2;
}

/* 設定 */
.small-box:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2;
}